doctype transitional
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")

link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css")
script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js")

script(src=vendorSource, type="text/javascript")
script(src=jsSource, type="text/javascript")
link(href=cssSource, rel="stylesheet", type="text/css")

#main